@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, fantaprof-light, fantaprof-dark,
    dracula, black, synthwave, retro, valentine, halloween, business, forest,
    coffee, night, lofi, luxury, sunset, garden, pastel, fantasy, coffee;
  prefix: "d-";
}

@theme inline {
  /** Surface */
  --color-surface-100: #f0f0f0;
  --color-surface-200: #d6d6d6;
  --color-surface-300: #c2c2c2;
  --color-surface-400: #adadad;
  --color-surface-500: #999999;
  --color-surface-600: #7a7a7a;
  --color-surface-700: #5c5c5c;
  --color-surface-800: #3d3d3d;
  --color-surface-900: #2e2e2e;

  /** Primary */
  --color-primary-100: #7a74d4;
  --color-primary-200: #4e45c5;
  --color-primary-d: #2217b7;
  --color-primary-400: #1b1292;
  --color-primary-500: #140e6e;
  --color-primary-600: #0e0949;

  /** Text */
  --color-text-100: #1f1f1f;
  --color-text-200: #2e2e2e;
  --color-text-300: #3d3d3d;
  --color-text-400: #5c5c5c;
  --color-text-500: #7a7a7a;
  --color-text-600: #999999;
  --color-text-700: #c2c2c2;
  --color-text-800: #d6d6d6;
  --color-text-900: #ffffff;
  --color-text-1000: #ebebeb;

  /** Fade-in Animations */
  --animate-fade-in: fade-in 0.7s ease-in-out forwards;
  --animate-fade-in-top: fade-in-top 0.7s ease-in-out forwards;
  --animate-fade-in-right: fade-in-right 0.7s ease-in-out forwards;
  --animate-fade-in-left: fade-in-left 0.7s ease-in-out forwards;
  --animate-fade-in-bottom: fade-in-bottom 0.7s ease-in-out forwards;

  /** Wiggle Animation*/
  --animate-wiggle: wiggle 1s ease-in-out infinite;

  /** Keyframes for Fade-In Animations*/
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in-top {
    0% {
      opacity: 0;
      transform: translateY(-30%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-30%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(30%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fade-in-bottom {
    0% {
      opacity: 0;
      transform: translateY(30%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /** Keyfraems for Wiggle Animation*/

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@plugin "daisyui/theme" {
  name: "fantaprof-light";
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: #2217b7;
  --color-primary-content: oklch(97% 0.014 254.604);
  --color-secondary: oklch(87% 0.006 286.286);
  --color-secondary-content: oklch(14% 0.005 285.823);
  --color-accent: oklch(42% 0.199 265.638);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(20% 0 0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.21875rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "fantaprof-dark";
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: #2217b7;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(49% 0.27 292.581);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(58% 0.158 241.966);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

.animation-delay-100 {
  animation-delay: 100ms;
}
.animation-delay-200 {
  animation-delay: 200ms;
}
.animation-delay-300 {
  animation-delay: 300ms;
}
.animation-delay-400 {
  animation-delay: 400ms;
}
.animation-delay-500 {
  animation-delay: 500ms;
}
.animation-delay-600 {
  animation-delay: 600ms;
}
.animation-delay-700 {
  animation-delay: 700ms;
}
.animation-delay-800 {
  animation-delay: 800ms;
}
.animation-delay-900 {
  animation-delay: 900ms;
}
.animation-delay-1000 {
  animation-delay: 1000ms;
}
